*{
    padding: 0px;
    margin: 0px;
}
.div{
    width: 100%;
}
header{
    width: 100%;
    height: 65vh;
    background-color: #f0f0f0;
    flex-direction: column;
}
.header_div1{
    width: 100%;
    height: 10vh;
    background-color: #ffffff;
    display: inline-flex;
}
.header_div2{
    width: 100%;
    height: 3.3vh;
    background-color: #f0f0f0;
}
.header_div3{
    width: 100%;
    height: 52vh;
    background-image: url(https://sello.uz/template/images/banners/main-uz.webp);
    background-size:cover;
}
.header_div11{
    width: 10%;
    height: 10vh;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.header_div12{
    width: 59%;
    height: 10vh;
    display: inline-flex;
    justify-content: center;
}
.header_div13{
    width: 31%;
    height: 10vh;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}
#img1{
    width: 65%;
}
.orqa_div1 {
    width: 100px;
    height: 10vh;
    position: relative;
    display: inline-block;    margin-left: -30px;
  }
  .btn1{
    width: 10%;
    height: 10vh;
    font-size: 14px;
    background-color: white;
    color: #B5B5B5;
    border: none;
    cursor: pointer;
    margin-left: -30px;
  }
 .tag-div1 {
    position: absolute;
    top: 120%;
    width: 600%;
    height: 54vh;
    background-color: rgb(14, 234, 21);
    color: #333;
    border: none;
    display: none;
    border-radius: 30px;
    margin-left: -30px;
  }

  .orqa_div1:hover .tag-div1 {
    display: block;
  }

  .orqa_div1:hover .btn1 {
    color:#00b3a3 ;
  }
  .orqa_div2 {
    width: 1%;
    height: 10vh;
    position: relative;
    display: inline-block;
    justify-content: center;
    align-items: center;
  }
  .btn2{
    text-align: center;
    white-space: nowrap;
    width: 10%;
    height: 10vh;
    font-size: 14px;
    background-color: white;
    color: #B5B5B5;
    border: none;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
  }
 .tag-div2 {
    position: absolute;
    width: 2700%;
    height: 26vh;
    margin-top: 12px;
    background-color: #ff0000;
    color: #333;
    border: none;
    border-radius: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    display: none;
    
  }

  .orqa_div2:hover .tag-div2 {
    display: block;
    margin-left: -33px;
    display: inline-flex;
    justify-content: space-around;
  }

  .orqa_div2:hover .btn2 {
    color:#00b3a3 ;
  }
#link1{
    text-decoration: none;
    color: #00b3a3;
    margin-top: 2px;
}
#link1:hover{
    color: #00b3a4c7;
}
.dropdown {
    position: relative;
    display: inline-block;
    font-family: sans-serif;
    font-size: 14px;
  }

  .dropdown-toggle {
    color: #00b3a3;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border: none;
    background-color: white;
    cursor: pointer;
    margin-top: 2px;
  }
  .dropdown-toggle:hover{
    color: #00b3a4c7;
  }

  .dropdown-menu {
    position: absolute;
    top: 80%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: none;
    width: 100%;
    margin-top: 3px;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }

  .dropdown-menu label {
    display: block;
    padding: 6px 10px;
    cursor: pointer;
    color: #333;
  }

  .dropdown-menu label:hover {
    background-color: #f0f0f0;
  }

  input[type="radio"] {
    display: none;
  }

  input[type="radio"]:checked + label {
    background-color: #007bff;
    color: white;}

#btn3{
    background-color: white;
    width: 18%;
    height: 5vh;
    border: none;
    display: inline-flex;
    color: #6f7977;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: left 10px;
}
#btn3:hover{
    color: #00b3a3;
}
#icon1{
    margin-top: px;
    color: #00b3a3;
}
.tag-div11{
    width: 30%;
    height: 50vh;
    background-color: aqua;
    flex-direction: column;
    display: inline-flex;
    align-items: center;

}
.tag-div12{
    width: 30%;
    height: 50vh;
    background-color: aqua;
    flex-direction: column;
    display: inline-flex;
    align-items: center;
}
.tag-div13{
    width: 30%;
    height: 50vh;
    background-color: aqua;
    flex-direction: column;
    display: inline-flex;
    align-items: center;
}
main{
    width: 100%;
    height: 100vh;
    background-color: #00ff2aeb;
}